@use '../../../../styles/semantic-tokens.scss';

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.color-primary {
  color: var(--text-color-primary);
}

.color-secondary {
  color: var(--text-color-secondary);
}

.color-on-primary {
  color: var(--text-color-on-primary);
}

.color-muted {
  color: var(--text-color-muted);
}

.opacity25 {
  opacity: 0.25;
}

.opacity75 {
  opacity: 0.75;
}
